<div class="index-buttons">
  <button class="btn btn-custom" id="toggle-subscriber">Show Subscriber Feed</button>
  <button class="btn btn-custom" id="toggle-recommended">Show Recommended Feed</button>
  <button class="btn btn-custom" id="toggle-trending">Show Trending Feed</button>
</div>