<div class="index-buttons">
  <button class="btn btn-custom" id="toggle-subscriber">My Subscriber Feed</button>
  <button class="btn btn-custom" id="toggle-recommended">Recommended Articles</button>
  <button class="btn btn-custom" id="toggle-trending">Trending Articles</button>
</div>