<div id="trending-article-feed">
  <!-- Likes feed (articles sorted by number of likes) -->
  <div class="category-title">
    <h1>Trending articles</h1>
    <% if @trending_articles.nil? or @trending_articles.empty? %>
      There are no articles to display.
    <% end %>
  </div>
  
  <div class="row">
    <% unless @trending_articles.nil? or @trending_articles.empty? %>
      <%= render @trending_articles %>
    <% end %>
  </div>
  
  <div class="paginate-container">
      <%= paginate @trending_articles, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" unless (@trending_articles.nil? or @trending_articles.empty?) %>
  </div>
  
  <br />
</div>