<div class="row">
  <% @articles.each do |article| %>
      <%= render article %>
  <% end %>
</div>

<%= paginate @articles, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" %>



