<% provide(:title, "Feed") %>
<%= render 'articles' %>
<div class=paginate-container>
<%= paginate @articles, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm, centered" unless @articles.empty? %>
</div>



