<div class="col-xs-6">
  
  <h1>News Feed</h1>

  <% if user_signed_in? %>
    <% if current_user.image.nil? or current_user.image.empty? %>
      fuck
    <% end %>

  <% end %>
  
  <body>
    <div class="container">
      <div class="row">
        <% @articles.each do |article| %>
            <%= render article %>
        <% end %>
      </div>
    </div>
    <%= paginate @articles %>
  </body>

</div>