<% provide(:title, "New Article") %>

<div class="small-container">
  <h1>New article</h1>
  <%= render 'form' %>
  <span>
    <%= link_to 'Back', articles_path, :class => "btn btn-custom" %>
  </span>
  <br />
</div>
<br />