<div class="small-container">
  <%= render 'form' %>

  <br />

  <%= link_to 'Explore Public Groups', public_groups_path, :class => "btn btn-custom" %>
  
  <% if user_signed_in? %>
    <div class="row" id="my-groups">
      <h3>My Created Groups</h3>
      <% @my_groups.each do |group| %>
        <%= render group %>
      <% end %>
    </div>
    
    <hr />
    
    <div class="row" id="my-subscribed-groups">
      <h3>My Subscribed Groups</h3>
      <% @subscribed_groups.each do |group| %>
        <%= render group %>
      <% end %>
    </div>
  <% end %>
</div>