<% provide(:title, "Users") %>

<div class="small-container">
  <% if @search_on %>
    <h1>Search Results</h1>
  <% else %>
    <h1>All users</h1>
  <% end %>
  
  <br />
  
  <%= render 'search' %>
  
  <br />
  
  <!-- Placeholder for listing all users -->
  
  <div class="user-list">
    <ul>
      <% @users.each do |user| %>
        <li>
          <!-- Only render a profile picture if the user's provider is Facebook (CSS -20px difference on bottom margin for article-show-picture) -->
          <% if user.provider == "facebook" and !user.image.nil? and !user.image.empty? %>
            <div class="article-show-picture">
              <%= image_tag user.image %>
            </div>
          <% end %>
          <%= link_to user.full_name, user, :class => "thick-btn" %>
        </li>
        <hr />
      <% end %>
    </ul>
  </div>
</div>

<div class="user-pagination">
  <%= paginate @users, :theme => 'twitter-bootstrap-3', :pagination_class => "pagination-sm" unless @users.empty? %>
</div>

